
@import url(https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Rancho', cursive;
}
.flex-column {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.game-container {
  height: 50%;
  width: 50%;
  flex: 0 0 50%;
}

.flex-row {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.background-game {
  border-radius: 5%;
  background-color:#7B68EE;
  height: 100%;
}

.background-pre-game {
  border-radius: 5%;
  background-color:whitesmoke;
}

.box {
  height: 100%;
  padding: 6%;
  border-radius: 15%;
  border-color: whitesmoke;
  border: 5px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.box:hover {
  transform: scale(1.1);
}

.box_pre {
  display: none;
  padding: 6%;
  border-radius: 15%;
  border:none;
  cursor: pointer;
  box-shadow:0 5px 0 rgb(221, 221, 221);
  color: #D3D3D3;
  background-color: gray;
  transition: all .3s ease-in-out;
}

.box_pre:hover {
  background-color: rgb(66, 66, 66);
  transform: scale(1.1);
}


.box.red {
  background-color:rgb(85, 4, 4);
  box-shadow:0 5px 0 rgb(112, 2, 2);
}

.box.blue {
  background-color: rgb(4, 4, 107);
  box-shadow:0 5px 0 rgb(0, 11, 71);
}

.box.yellow {
  background-color:rgb(184, 154, 6);
  box-shadow:0 5px 0 rgb(139, 137, 3);
}

.box.green {
  background-color:rgb(1, 75, 1);
  box-shadow:0 5px 0 #006000;
}

.box.active-green {
  background-color:rgb(3, 185, 3);
}

.box.active-yellow {
  background-color:yellow;
}

.box.active-blue {
  background-color: rgb(0, 0, 243);
}

.box.active-red {
  background-color:rgb(255, 0, 0);
}

.title {
  font-size: 6vw;
  
}

.score {
  height: 12%;
  width: 35%;
  background-color:#7B68EE;
  box-shadow: 10px 10px 5px #D3D3D3;
  text-align: center;
  border-radius: 0% 0% 75% 75%;
  font-size: 2vw;
}

.background{ 
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cfdf+0,23538a+100;Blue+3d+%238 */
  background: rgb(167,207,223); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */
}

.button_container {
  display: none;
  flex: 1;
  flex-basis: 50px;
  height: 50px;
  width: 100%;
  justify-content: space-around;
  
}

.state_initial .box_pre {
  display: block;
}

.state_in_game .button_container {
  display: flex;
}
.game_over {
  display: none;
  padding: 6%;
  transition: all .3s ease-in-out;
  font-size: 5em;
  color: grey;
  text-shadow: 1px 1px 1px black;
}

.after_game .game_over {
  display: block;
}

.input_score {
  display: none;
  padding: 6%;
  transition: all .3s ease-in-out;
  font-size: 5em;
  color: grey;
  text-shadow: 1px 1px 1px black;
  flex: 1;
  flex-basis: 50px;
  justify-content: space-around;
}

.after_game_over .input_score{
  display: block;
}

.name_input {
  height: 20%;
  font-size: 30px;
  border-radius: 5px;
  border: 0;
  padding: 0px 30px;
  color: #6775c4;
  vertical-align: middle;
}

.ranking_button {
  background-color: #F5F5F5;
  border-radius: 5px;
  cursor: pointer;
  color: #8C9EFF;
}
